<h1>Users</h1>
<p>Total Users: <%= @total_users %></p>

<%= form_with url: users_path, method: :get, local: true, class: "d-flex mb-3" do |form| %>
  <%= form.text_field :search, value: params[:search], class: "form-control me-2", placeholder: "Search by name, age, gender, or location" %>
  <%= form.submit "Search", class: "btn btn-outline-secondary" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name_with_title %></td>
        <td><%= user.age %></td>
        <td><%= user.gender %></td>
        <td><%= user.created_at.strftime("%Y-%m-%d") %></td>
        <td>
          <%= link_to 'Delete', user_path(user), method: :delete, data: { "turbo-method": :delete }, class: "btn btn-sm btn-outline-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>