<h1>Users</h1>

<%= form_tag(users_path, method: :get) do %>
  <%= label_tag(:search, "Search by name:") %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("Search") %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name_with_title %></td>
        <td><%= user.age %></td> <!-- Assuming `age` is a method or attribute -->
        <td><%= user.gender %></td>
        <td><%= user.created_at.strftime("%Y-%m-%d") %></td>
        <td>
          <%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>